.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    border-bottom: 2px solid rgb(78, 0, 34);
    background-color: rgb(255, 206, 229);

  }

